div ul{list-style-type: none;}
div ul li{background-color: blue;
width: 200px;
border: 2px solid white;
height: 50px;
line-height: 50px;
text-align: center;
float: left;}
div ul  :hover{background-color: green;}
div ul  ul{display: none;}
div ul  :hover ul {display: block;
padding: 0;}